html{
    box-sizing: border-box;
}
*, *:before ,*::after{
    box-sizing: inherit;
}

body{
    
    background-attachment:fixed;
    background-color: #387c6c;
    height: auto;
    width: auto;
}



table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 15px;    margin: 45px;     width: 1000px; text-align: left;    border-collapse: collapse; }

th {     font-size: 20px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 8px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 20px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }


.titulo{
     background-color:#7ab893;
     border-radius: 2rem;
     width: 15rem;
     
}

h1{
    color: white;
}

.return{
    color:white;
    background-color:#032429 ;
    font-size: 1rem;
    width:200px ;
    padding: 10px;
    
    background-color:#377D6A;
    
    border-radius:2rem;
    
    
}

a{
    color: white;
}


